################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UCI_HAR_Dataset
/har_model.pkl
/__pycache__
/tests/__pycache__
*.sqlite
*.vsidx
